<div class="container">
  <h1>Stupid Coaching</h1>

  <form action="/answer" data-turbo="false" method="get">
    <div class="form-group">
      <p><label>Ask your coach anything :</label></p>
      <input type="text" name="question">
      <button type="submit" class="btn btn-primary">Ask</button>
    </div>
  </form>
</div>
